*{
    color: black;
    font-weight: bolder;
    
}

td {
    font-weight: normal;

}
th{
   font-size: 15px;
    color: white;
}
table {
            width: 100%;
            border-collapse: collapse;
            background: rgba(128, 128, 128, 0.247);
            padding: 10px;
        }
        
        th, td {
            padding: 8px;
            text-align: left;
            border-bottom: 1px solid #ddd;
            border-right: 1px solid #ddd;
        }
        
        th {
            background-color: #581e1e;
            border-right: 1px solid #ddd;
        }
        
        tr:last-child td {
            border-bottom: none;
        }

        table {
            margin: auto;
            width: 80%;
        }
.thetitle {
    background-color: #ddd;
    height: 70%;
    margin: auto;
    width: 100%;
    padding: 10px;
}
section {
    height: 70px;
    width: 100%;

    margin: auto 0;
}

.thetitle {
    display: flex;
    flex-basis: 25%;
   
}
.thetitle h2 {
    right: 0;
    margin: auto 70%;
}


.delete-button {
    background-color: #ff0000;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    font-weight: bold;
    border-radius: 4px;
}

.delete-button:hover {
    background-color: #cc0000;
}


.div{
    background: white;
  
    padding: 5px;
    width: 100%;
    height: 60px;
    font-weight: normal;
}

.div h1 {
    margin: auto;
    font-size: 40px;
    text-align: center;
}
